<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="icon-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="icon-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="icon-group"></i>
            </button>

            <button class="btn btn-danger">
                <i class="icon-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="base active">
            <a href="base">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> 系统设置管理 </span>
            </a>
        </li>

        <li class="tesignlist">
            <a href="tesignlist">
                <i class="icon-calendar"></i>
                <span class="menu-text"> 查看签到情况 </span>
            </a>
        </li>

        <li class="studylist">
            <a href="studylist" class="dropdown-toggle">
                <i class="icon-desktop"></i>
                <span class="menu-text"> 上传教学材料 </span>

            </a>
        </li>

        <li class="classes">
            <a href="classes" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text">添加班级 </span>

            </a>

        </li>

        <li class="testudent">
            <a href="testudent" class="dropdown-toggle">
                <i class="icon-list-alt"></i>
                <span class="menu-text">添加学生 </span>

            </a>

        </li>

        <li class="tetask">
            <a href="tetask" class="dropdown-toggle">
                <i class="icon-text-width"></i>
                <span class="menu-text">发布课堂作业 </span>

            </a>

        </li>

    </ul><!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>